.datepicker{z-index:1151 !important;}
.timepicker{z-index:11510 !important;}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.list-view li{
	position: relative;
}
li.categories_p{
	padding: 0;
	background-color: transparent;
}
li.categories_p a{
	padding:10px 10px;
	line-height: normal;
}
ul.log-indropdown li:last-child > a{
	border-bottom: 1px solid rgba(0, 0, 0, 0.07) !important;
}
li.categories_p p{
	line-height:20px;
}
li.categories_p a:hover{
    background-color: #daeffd;
}
li.categories_p:hover{
	background-color: transparent !important;
}
.pill{
	float: right;
	color:#fff;
	background-color: rgb(43, 48, 59);
	border-radius: 2px;
	font-size: 11px;
	padding: 0 3px;
}
li.categories_active{
	background-color: #daeffd;
}
ul.log-indropdown{
}
ul.log-indropdown li{
	padding: 0;
}
ul.log-indropdown li:hover{
	background-color: transparent;
}
ul.log-indropdown li a{
	padding-left: 25px;
}
li.categories_p span.dropdown{
	width: 20px;
	height: 20px;
	border: none;
	position: absolute;
	top: 10px;
	left: 5px;
	text-align: center;
	padding: 0;
	margin: 0;
	cursor: pointer;
	background-color: red;
	z-index: 1200
}
ul.log-indropdown{
	display: none;
}
.dropdown.active{
	display: block;
}

/* custom css */

.plupload{ z-index : 99999; }
.grid_action .btn-cons{
 min-width: inherit;

}
.grid_list_view{
	padding: 0;
	margin:15px 0 0 0;
	font-size: 14px;
	color: #444
}
.grid_list_view .head{
	font-size: 14px;
	text-align: left;
	border-bottom: 1px solid #d1d1d1;
	padding:0px;
	background-color: #0DAD9E;
	color: #fff;
	margin-bottom: 20px;
}
.grid_list_view .head .row{
	padding: 10px 15px;
	margin: 0;

}
.grid_list_view .data_area{
	text-align: left;

}
.grid_list_view .data_area .row{
	padding: 10px 15px;
	border-bottom: 1px solid #d1d1d1;
	margin: 0;
}
.grid_list_view a{color: #444;}
.grid_list_view .btn{color: #fff}
.people_id_pic{}
.pic{display: inline-block; vertical-align: middle; margin-right:10px;}
.pic_id{display: inline-block; margin-bottom: 10px}
.pic img{border-radius: 100px; width: 40px; height: 40px; border: 1px solid #d1d1d1}

.people_name{}
.people_designation{}
.people_email{}
.people_phone{}
.people_action{}
.grid_list_view .datas{float: left; width:16.66%;}

/* list view */
.grid_list_view .data_area.list_view .row{
	width: 100%;
	display: table;
	background-color:#fff;
	margin-bottom: 5px;
}
.grid_list_view .data_area.list_view .row:nth-child(even){
	background-color: #f1f1f1;
}
.grid_list_view .data_area.list_view .row .datas{
	display: table-cell;
	vertical-align: middle;
	height: 50px;
}
.grid_list_view .data_area.list_view .row .people_id_pic .pic{
display: inline-block;
vertical-align: middle;
}
.grid_list_view .data_area.list_view .row .people_id_pic .pic_id{
display: inline-block;
vertical-align: middle;
}
.grid_list_view .data_area.list_view .row .box.people_name{
	display: none;
}
.grid_list_view .data_area.list_view .row .box_real.people_name{
	display: block;
}
/* grid view */
.grid_list_view .head.grid_view .row{
	margin-bottom: 2px;
}
.grid_list_view .head.grid_view .row .datas{
	width: 25%
}
.grid_list_view .data_area.grid_view .row:nth-child(even){
	background-color: #f1f1f1;
}
.grid_list_view .data_area.grid_view .row .datas{
	width: 25%
}
.grid_list_view .head.grid_view .row .people_phone{
	display: none;
}
.grid_list_view .head.grid_view .row .people_action{
	display: none;
}
.grid_list_view .data_area.grid_view .row .people_phone{
	display: none;
}
.grid_list_view .data_area.grid_view .row .people_action{
	display: none;
}
.grid_list_view .data_area.grid_view .row .box.people_name{
	display: none;
}
.grid_list_view .data_area.grid_view .row .box_real.people_name{
	display: block;
}
/* box view */
.grid_list_view .data_area.box_view .row{
	width:32%;
	border:1px solid #d1d1d1;
	float: left;
	margin:10px 10px 0px 0px;
	padding: 15px;
	border-radius: 5px;
}
.grid_list_view .data_area.box_view .row .datas{
	width:100%;
	padding: 5px 0px 10px;
}
.grid_list_view .data_area.box_view .row .people_id_pic{
	border-bottom: 1px solid #d1d1d1; 
	margin-bottom: 10px;
}
.grid_list_view .data_area.box_view .row .people_action{
	border-top:1px solid #d1d1d1;
	padding: 10px;
	margin-top: 20px;
	background-color: #f1f1f1;
}
.grid_list_view .data_area.box_view .row .box.people_name{
	display: inline-block;
}
.grid_list_view .data_area.box_view .row .box_real.people_name{
	display: none;
}
.grid_list_view .head.border_class.box_view{
	display: none;
}
.border_class{
	border-radius: 70px;
}
.header_class{
	background-color: #0DAD9E;
}
label.taskBubble{
	background-color: #10CFBD;
	padding: 2px 10px;
	color: #fff;
	border-radius: 2px;
	font-size: 12px;
	line-height: 16px
}
a.task_name{
	color: rgb(98, 98, 98);
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 14px;
    margin: 0 10px 0;
    display: inline-block;
}
a.timer{
    color: #10CFBD;
    font-size: 14px;
    vertical-align: middle;
}
.topTask{
	padding: 0 0 0 30px;
}
.topTask .taskInner{
	display: inline-block;
	vertical-align: middle;
}
.topTask .taskInner .checkbox label{
	margin: 0;
}
.topTask .task_detail{
	display: inline-block;
	vertical-align: middle;
}
.panel-group .panel-heading{
	background-color: #0DAD9E;
}
.panel-group .panel-heading .panel-title > a{
	color: #fff !important;
}
.panel-group .panel-heading .panel-title > a:hover{
	color: #fff !important;
}
.panel-group .panel-heading .panel-title > a:after{
	color: #fff !important;
}
.panel-group .panel-heading .panel-title > a:hover:after{
	color: #fff !important;
}
.panel.panel-default{
	border:none !important;
}
.panel{
	background-color: transparent !important;
}
form.country .tab-content{
	overflow: visible;
}
form.country .flagstrap{
	padding: 12px 0 0;
}
form.country button.btn.btn-default.btn-md.dropdown-toggle{
	width: 100%;
}
form.country .modal-body{
	z-index: 120;
}
.col-sm-6 .select2-container{
	width:100%;
}
.tab-content.tab_time_picker{
	overflow:visible;
}
/*.tab-content.tab_time_picker .tab-pane.slide-left{
	position: relative;
}
.tab-content.tab_time_picker .bootstrap-timepicker-widget.dropdown-menu{
	position: absolute !important;
	top: 38px!important;
	left: 0 !important;
}*/
