
<div class="row" style="padding-top: 5px;">
    <div class="row">
        <div class="col-sm-6">
          <div class="form-group form-group-default">
            <label>Qualification</label>
            <input type="text" name="qualification[]" class="form-control" placeholder="Qualification" ng-model='qualification' >
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group form-group-default">
            <label>Collage</label>
            <input type="text" name="collage[]" class="form-control" placeholder="Collage" ng-model='element.collage' >
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
      <div class="form-group form-group-default">
        <label>University</label>
        <input type="text" name="university[]" class="form-control" placeholder="University" ng-model='element.university' >
    </div>
</div>
<div class="col-sm-3">
    <div class="form-group form-group-default">
        <label>Passing Year</label>
        <input type="text" name="passing_year[]" class="form-control" placeholder="Passing Year" ng-model='ent.passing_year' >
    </div>
</div>
<div class="col-sm-3">
    <div class="form-group form-group-default">
        <label>%/Grd</label>
        <input type="text" name="percentage[]" class="form-control" placeholder="% or Grd" ng-model='element.percentage' >
    </div>
</div>
<div class="col-sm-3">
    <a class="btn btn-danger" href="#" tooltip="Delete" ng-click="deleteRow($index);">REMOVE</a>
</div>
<hr>
</div>
</div>